
/*----------------------------------------- */
/*--------   Toggle Dark Mode      -------- */
/*----------------------------------------- */

.fa-circle-half-stroke{
    width: 100%;
    height: 100%;
    align-self: center;
    font-size: 2.5rem;
    color: #818181;
    cursor: pointer;
    margin-left: 3rem;
}

.fa-circle-half-stroke:hover{
    color: #000000;
}











/*----------------------------------------- */
/*----   Cambios propios del Toggle   ----- */
/*----------------------------------------- */

.change-toggle-dm{
    width: 100%;
    height: 100%;
    align-self: center;
    font-size: 2.5rem;
    color: #dfa800;
    cursor: pointer;
    margin-left: 3rem;
}

.change-toggle-dm:hover{
    color: #d5d5d5;
}

.fade-in {
    animation: fadeIn 0.75s ease-in;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}










/*----------------------------------------- */
/*----       Estilos Dark Mode        ----- */
/*----------------------------------------- */






/*---------------------------*/
/*  Nav Horizontal Dark-Mode */
/*---------------------------*/

#nav-horizontal.dark-mode {
    background-color: #2A2B2F;
    color: white;
    border-bottom: solid 0.5px  rgb(75, 75, 75);
    transition: background-color 0.75s ease, color 0.75s ease;
}

#nav-horizontal.dark-mode ul>.li-menu-horizontal {
    border-left: solid 0.5px rgb(75, 75, 75);
}

#nav-horizontal.dark-mode ul>.li-menu-horizontal:hover {
    background-color: #2F3237;
}

#nav-horizontal.dark-mode ul>.li-menu-horizontal:last-child {
    border-right: solid 0.5px rgb(75, 75, 75);
}

#nav-horizontal.dark-mode ul>li>a{
    color: white;    
}
























/*----------------------- */
/* Nav Vertical -DarkMode */
/*----------------------- */


.bg-wall.dark-mode .nav-vertical {
    background-color: #2A2B2F;
}

.bg-wall.dark-mode .nav-vertical .container-logo-nav-vertical {
    background-color: #2A2B2F;
    border-bottom: solid 0.5px  rgb(75, 75, 75);
}

.bg-wall.dark-mode ul>.li-menu-vertical {
    border-top: solid 0.5px rgb(75, 75, 75);
}

.bg-wall.dark-mode ul>.li-menu-vertical:last-child {
    border-bottom: solid 0.5px rgb(75, 75, 75);
}

.bg-wall.dark-mode ul>.li-menu-vertical:hover {
    background-color: #2F3237;
}

.bg-wall.dark-mode ul>.li-menu-vertical a {
    color: white;
}





















/*--------------------------------*/
/*------ Abour Me Dark Mode  -----*/
/*--------------------------------*/

#about-me.dark-mode {
    background-color: #2F3237;
}

#about-me.dark-mode .frame-3-13 .who-i-am h1,
#about-me.dark-mode .frame-3-13 .who-i-am h2,
#about-me.dark-mode .frame-3-13 .who-i-am h3{
    color: rgb(233, 233, 233);
}

#about-me.dark-mode .frame-3-13 .who-i-am p {
    color: rgb(255, 255, 255);
}

#about-me.dark-mode .frame-3-13 .who-i-am a >i {
    color: rgb(255, 255, 255);}

#about-me.dark-mode .frame-3-13 .who-i-am .btn-download-cv{
    background-color: #2F3237;
    border: solid 0.02rem rgb(125, 125, 125);
}

#about-me.dark-mode .frame-3-13 .who-i-am .btn-download-cv span{
    border-left: solid 0.02rem rgb(125, 125, 125);
}

#about-me.dark-mode .frame-3-13 .who-i-am .div-tag-interests{
    background-color: #1c1c1e;
    color: whitesmoke;
    border: solid 0.01rem rgb(125, 125, 125);
}






/*--------------------------------*/
/*-- About Me Dark Mode  <920px --*/
/*--------------------------------*/


@media (max-width: 920px) {

#about-me.dark-mode {
    display: grid;
    background-color: #F5F5F5;
    width: 100%;
    height: max-content;
    transition: background-color 0.5s ease-out;        
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.999), rgba(47, 50, 55, 0.5)), url('https://res.cloudinary.com/dwdzufjyh/image/upload/v1683503735/Personal%20portfolio%20V.01/Banner-portfolio_3_fwoej9.jpg');
    filter: brightness(100%) ;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}


#about-me.dark-mode .frame-3-13 .who-i-am h1,
#about-me.dark-mode .frame-3-13 .who-i-am h2,
#about-me.dark-mode .frame-3-13 .who-i-am h3{
    color: rgb(233, 233, 233);
}

#about-me.dark-mode .frame-3-13 .who-i-am .btn-download-cv
{
    background-color:#2F3237;
    border: solid 0.02rem rgb(125, 125, 125);
}



/*--------------------------*/
/*Section Interests <920px */
/*-------------------------*/
.interests.dark-mode{
    width: 100%;
    height: max-content;
    background-color: #252525;
    transition: background-color 0.5s ease-out;
    display: grid;
    padding-bottom: 2rem;
}
.interests.dark-mode h3{
 color: whitesmoke ;
}


.interests.dark-mode .div-tag-interests{
    background-color: #1c1c1e;
    color: whitesmoke;
    border: solid 0.01rem rgb(125, 125, 125);
}


}






/*--------------------------------*/
/*-----  Portfolio Dark Mode -----*/
/*--------------------------------*/

#portfolio.dark-mode{
    background-color: #3a3d43;
}

#portfolio.dark-mode  h2 {
    color: whitesmoke;
}


#portfolio.dark-mode .title-explore{
    color: whitesmoke;
}

#portfolio.dark-mode .container-explorer-nav .nav-bar-portfolio .btn-nav-portfolio{
    color: white;
}

#portfolio.dark-mode .container-explorer-nav .nav-bar-portfolio .btn-nav-portfolio:hover{
    background-color:#2F3237;  
}
#portfolio.dark-mode .container-explorer-nav  .nav-bar-portfolio .border-btn-portfolio{
    background-color:#000000;  
    border-bottom: 0.02rem solid rgb(76, 76, 76);

}



#portfolio.dark-mode .card-content {
    background-color: #1C1C1E;
    border: solid 0.02rem rgb(86, 86, 86);
}

    
#portfolio.dark-mode .frame .frame-structure-portfolio  .new-container-cards .card-content:hover {
    box-shadow: 0 0.2rem 0.5rem rgba(33, 33, 33, 0.1), 0 0.8rem 2rem rgba(60, 60, 60, 0.1);
}


#portfolio.dark-mode .title-card-content {
    color: white;
}


#portfolio.dark-mode .stack-card-content{
    color: #e3e3e3;
    background-color: #323232;
    border: solid 0.1px rgb(30, 30, 30);

}










/*--------------------------------*/
/*---    Education Dark Mode   ---*/
/*--------------------------------*/

#education.dark-mode{
    background-color: #2F3237;
    background-image: url('https://res.cloudinary.com/dwdzufjyh/image/upload/v1685578492/Personal%20portfolio%20V.01/Frame_1_1_uz3kce.png');
}

#education.dark-mode .frame-ed{
    background-color: rgba(42, 43, 47, 0.7); 
}

#education.dark-mode .title-education{
    color: whitesmoke;
}

#education.dark-mode .subtitle-education{
    color: whitesmoke;
}

#education.dark-mode [class^='text-education']{
    color: rgb(172, 172, 172);
}



/*---------------------------*/
/*---Instituttes Aninamtion--*/
/*---------------------------*/

#education.dark-mode .containter-institutes{
    background-color:#2A2B2F;
}

#education.dark-mode .body-institute-general{
    background-color: #2A2B2F;
}

#education.dark-mode .nav-institute-general{
    background-color: #2A2B2F;
}

#education.dark-mode .title-institutes{
    color: whitesmoke;
    background-color:#2A2B2F;
}

#education.dark-mode .area-transition-institutes{
    color: whitesmoke;
    background: linear-gradient(to right, #000000 0%, rgba(42, 43, 47, 0) 20%),
    linear-gradient(to left, #000000 0%, rgba(42, 43, 47, 0) 20%);
}


#education.dark-mode .btn-nav-institutes{
    color: whitesmoke;
    background-color: #2F3237;
    border: 0.02rem solid rgb(78, 78, 78);
}


#education.dark-mode .institute-name{
    color: whitesmoke;
    background-color: #2F3237;
}



/*-----------------------------------------*/
/*-- Btns and Deploy Modals More Info    --*/
/*-----------------------------------------*/

#education.dark-mode .container-content-info{
    background-color: rgb(35, 35, 35);
    border: solid 0.02rem rgb(25, 25, 25);
}

#education.dark-mode .container-content-info:hover{
    background-color: rgb(0, 0, 0);
    border: solid 0.02rem rgb(25, 25, 25);
}

#education.dark-mode .text-skill{
    color: whitesmoke;
    font-weight: 600;
}

#education.dark-mode .arrow-go-ed{
    color: whitesmoke;
    font-weight: 600;
}

#education.dark-mode .arrow-go-ed:hover>{
    color:red;
}

#education.dark-mode .more-info{
    color: whitesmoke;

}

#education.dark-mode .box-icon-arrow{
    border-left: solid 0.02rem rgb(72, 72, 72);
}












/*--------------------------------*/
/*-- Modal Record Certificates ---*/
/*--------------------------------*/

#bg-wall-modal-certificates.dark-mode .container-record .card-structure-cert{
    border: solid 1px transparent;
}

#bg-wall-modal-certificates.dark-mode .container-record .card-structure-cert:hover{
    background-color: #16181D;
    border: solid 1px #222326 ;
}

#bg-wall-modal-certificates.dark-mode .container-record .card-structure-cert .box-btn-download-cert a >span{
    border: solid 1px transparent;
}

#bg-wall-modal-certificates.dark-mode .container-record .card-structure-cert:hover .box-btn-download-cert a >span{
    border: solid 1px rgb(132, 132, 132);
}

#bg-wall-modal-certificates.dark-mode .container-record .header-certif{
    background-color:#222326 ;
    border-bottom: #16181D;
}

#bg-wall-modal-certificates.dark-mode .container-record .header-certif .title-certif h3{
    color:whitesmoke ;
}

#bg-wall-modal-certificates.dark-mode .certificate-list .clase-impar-record{
    background-color:#2F3237;
}

#bg-wall-modal-certificates.dark-mode .certificate-list .clase-par-record{
    background-color:#3A3D43;
}

#bg-wall-modal-certificates.dark-mode .certificate-list .card-structure-cert .box-text .title-card-course{
    color: whitesmoke;
}

#bg-wall-modal-certificates.dark-mode .certificate-list .card-structure-cert .box-text .p-tech{
    color: rgb(198, 198, 198);
}


/*????*/
.no-scroll{
    overflow-y: hidden;
}






/*--------------------------------*/
/*----  Modal Hard Skill     -----*/
/*--------------------------------*/

#bg-wall-modal-hard-skill.dark-mode .container-tool {
    background-color: #2F3237;
}

#bg-wall-modal-hard-skill.dark-mode .container-tool .header-tool{
    background-color: #2F3237;
}

#bg-wall-modal-hard-skill.dark-mode .container-tool .header-tool .bx-img-tool{
    background-color: #2F3237;
}

#bg-wall-modal-hard-skill.dark-mode .container-tool .header-tool .container-title-tool{
    background-color: #2F3237;
    border-bottom: solid 0.1px #3c3c3c;
}

#bg-wall-modal-hard-skill.dark-mode .container-tool .header-tool .container-title-tool .h3title-tool{
    color: white;
}

#bg-wall-modal-hard-skill.dark-mode .container-tool .header-tool .container-title-tool .ptitle-tool{
    color:#919191;
}

#bg-wall-modal-hard-skill.dark-mode .container-box-skill [class^="box-skill"]{
    background-color: #2F3237;
}

#bg-wall-modal-hard-skill.dark-mode .container-box-skill [class^="box-skill"]>h3{
    color: #ffffff;
}

#bg-wall-modal-hard-skill.dark-mode .container-box-skill [class^="box-skill"]>p{
    color: #ffffff;
}

#bg-wall-modal-hard-skill.dark-mode .container-box-skill [class^="box-skill"].tools-tech{
    background-color: #2F3237;
}

#bg-wall-modal-hard-skill.dark-mode .container-box-skill [class^="box-skill"]>.tools-tech .div-tools{
    background-color: #1c1c1e;
    color: whitesmoke;
    border: solid 0.01rem rgb(125, 125, 125);
}
















/*--------------------------------*/
/*----   Contact Dark Mode   -----*/
/*--------------------------------*/

#contact.dark-mode{
    background-color: #3a3d43;
    color: white;
    transition: background-color 0.5s ease-out;
}

#contact.dark-mode .frame-contac .title-contact{
    color: whitesmoke;
}

#contact.dark-mode .frame-contac .frameStructureContact{
    color: whitesmoke;
    background-color: #3a3d43;
}

#contact.dark-mode .frame-contac .frame-structure-contact {
    color: whitesmoke;
    background-color: #3a3d43;
}

#contact.dark-mode [class^="block-contact-"]{
    background-color: #3a3d43;
}

#contact.dark-mode [class^="gnral-div-c"]{
    background-color: #282a2d;
    border-top: 0.02rem solid #1a1b1d;
    border-left: 0.02rem solid #1a1b1d;
}

#contact.dark-mode [class^="block-icon-c"]{
    background-color: #000000;
    border: solid 0.02rem  rgb(57, 57, 57);
}   

#contact.dark-mode [class^="text-content-c"]>h3{
    color: whitesmoke;
}

#contact.dark-mode [class^="text-content-c"]>p{
    color: rgb(168, 168, 168);
}

#contact.dark-mode .image-contact-ubication{
    background-image: url('https://res.cloudinary.com/dwdzufjyh/image/upload/v1684527330/Personal%20portfolio%20V.01/snazzy-image_7_q6kfvs.png');
}

#contact.dark-mode [class^="box-icon-go-"]{
    background-color: #000000;
    border-left: 0.02rem solid #000000;
    border-right: 0.02rem solid #000000;
    border-top: 0.02rem solid #000000;
}

#contact.dark-mode .arrow-go-contact{
    background-color: #343434;
    color: whitesmoke;
}

#contact.dark-mode .arrow-go-contact:hover{
    background-color: #000000;
    color: #DFA800;
}

#contact.dark-mode .gnral-div-c-followme{
    border-bottom: solid 1px #343434;
    border-left: solid 1px #343434;
}

#contact.dark-mode .icons-c-followme{
    border-bottom: solid 0.02rem #343434;
    border-left: solid 0.02rem #343434;
    border-right: solid 0.02rem #343434;
}

#contact.dark-mode [class^="open-follow-"]{
    background-color: #343434;
    border-left: solid 0.02rem  #343434;
}

#contact.dark-mode [class^="open-follow-"]:hover{
    background-color: #000000;
    border-left: solid 0.02rem  #343434;
}

#contact.dark-mode  [class^="open-follow-"]>i{
    color: #ffffff;
    font-size: var(--step-0);
}