* {
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;    
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}



/*Light Mode*/
:root{

    /*General Fonts*/
    --color-font-h1:#000000;
    --color-font-h2:#242424;
    --color-font-h3:#474747;
    --color-font-p:#393939;

}   


/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,35,1.25,5,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--3: clamp(0.65rem, calc(0.49rem + 0.82vw), 1.12rem);
    --step--2: clamp(0.78rem, calc(0.57rem + 1.08vw), 1.40rem);
    --step--1: clamp(0.94rem, calc(0.65rem + 1.41vw), 1.75rem);
    --step-0: clamp(1.13rem, calc(0.76rem + 1.85vw), 2.19rem);
    --step-1: clamp(1.35rem, calc(0.87rem + 2.41vw), 2.73rem);
    --step-2: clamp(1.62rem, calc(0.99rem + 3.13vw), 3.42rem);
    --step-3: clamp(1.94rem, calc(1.13rem + 4.05vw), 4.27rem);
    --step-4: clamp(2.33rem, calc(1.29rem + 5.23vw), 5.34rem);
    --step-5: clamp(2.80rem, calc(1.45rem + 6.74vw), 6.68rem);
  }


body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

section{
    min-width: 20rem;
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}


h1{
    color: var(--color-font-h1);
    font-size: var(--step-5);
    font-weight: 800;
}

h2{
    color: var(--color-font-h2);
    font-size: var(--step-3);
    font-weight: 800;
}

h3{ color: var(--color-font-h3);
    font-size: var(--step-0);
    font-weight: 800;
}

p{ color: var(--color-font-p);
    font-size: var(--step--1);
    font-weight: 500;
}

a{
    color:#000000;
    text-decoration: none;
}























/*----------------------------------------- */
/*----------  Frames structures   --------- */
/*----------------------------------------- */

.frame{
    grid-column: 3 / 11;

}

.frame-3-13{
    display:grid;
    grid-column:  3 / 13;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    grid-auto-flow: row;
    column-gap: 1.5rem;

}
























/*----------------------------------------- */
/*------     Nav Horizontal.Js     -------- */
/*----------------------------------------- */
#nav-horizontal{
    width: 100%;
    height: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    
    display: flex;     
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 0.5px rgb(196, 196, 196);
    position: sticky;
    top: 0;
    z-index: 9;

    transition: background-color 0.5s ease-out;
}

.container-logo-btn-icon-menu{
    display: flex;
    width: max-content;
    align-items: center;
    column-gap: 2rem;
}

.container-logo-btn-icon-menu >.fa-bars{
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
}

.logo-portfolio{
    display: flex;
    height: 3rem;
    width: auto;
}

.box-btns-menu-horizontal{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ul-menu-horizontal{
    width: auto;
    height: max-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.li-menu-horizontal{
    width: max-content;
    height: max-content;
    display: flex;
    border-left: solid 0.5px rgb(231, 231, 231);
}

.li-menu-horizontal:last-child{

    border-right: solid 0.5px rgb(231, 231, 231);
}

.li-menu-horizontal:hover{
    background-color: rgb(231, 231, 231);
}

.a-menu-horizontal{
    min-width: 12rem;
    height: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;


    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: var(--step--0);
    font-weight: 700;
    color: #616161;
}

.a-menu-horizontal:hover{
    color: black;
}


@media (max-width: 800px){
    .ul-menu-horizontal{
        display: none;
    }

    .container-logo-btn-icon-menu >.fa-bars{
        display: flex;
        font-size: 2.5rem;
        cursor: pointer;
    }

}









/*----------------------------------------- */
/*-------      nav vertical.js      ------- */
/*----------------------------------------- */

.bg-wall{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 20;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

.nav-vertical{
    width: 70%;
    height: 100vh;
    display: flex;
    background-color: white;
    flex-direction: column;
    animation: slideInFromLeft 0.5s ease-out;
}

.container-logo-nav-vertical{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 0.5px rgb(196, 196, 196);
}

.logo-portfolio{
    height: 3rem;
    width: auto;
}

.img-nav-vertical{
    max-width: 100%;
    height: 60vh;
    object-fit: cover;
}

.ul-menu-vertical{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.li-menu-vertical{
    width: 100%;
    height: max-content;
    display: flex;
    border-top: solid 0.5px rgb(231, 231, 231);
}

.li-menu-vertical:last-child{

    border-bottom: solid 0.5px rgb(231, 231, 231);
}

.li-menu-vertical:hover{
    background-color: rgb(231, 231, 231);
}

.a-menu-vertical{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: var(--step--0);
    font-weight: 700;
    color: #616161;
}

.a-menu-vertical:hover{
    color: black;
}













/*----------------------------------------- */
/*-------   Triggers of display     ------- */
/*----------------------------------------- */

.open-all{
    display: flex;
}

.close-all{
    display: none;  
}

.open-window{
    display: flex;
}
































































/*----------------------------------------- */
/*-------    Section Aboutme.js    -------- */
/*----------------------------------------- */
#about-me{
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: max-content;
    transition: background-color 0.5s ease-out;
}

/*----------------------------------------- */
/*-----      Divs My Interest       ------- */
/*----------------------------------------- */
.who-i-am{
    width: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-self: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.paragraph{
    max-width: auto;
    min-width: 20rem;
}

.container-btns{
    width: auto;
    min-width: 20rem;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 3rem;
}

.container-btns>a{
    color: initial;
    text-decoration: none;
}

.github-aboutme{
    font-size: 5rem;
    cursor: pointer;
}

.btn-download-cv{
    width:  max-content;
    height: 5rem;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;

    background-color:rgb(255, 255, 255);
    border: solid 0.02rem rgb(0, 0, 0);
    border-radius: 0.6rem;
    cursor: pointer;
}

.btn-download-cv>p{
    width: max-content;
    font-family: 'Montserrat';
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: var(--step--2);
    padding-right: 1.5rem;
}

.btn-download-cv>span{
    padding: 1.2rem;
    color: rgb(255, 255, 255);
    border-left: solid 0.02rem rgb(255, 255, 255);
    background-color: #000000;
    border-radius: 0px 6px 6px 0px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/*----------------------------------------- */
/*-----      Divs My Interest       ------- */
/*----------------------------------------- */
.my-interests{
    max-width: 65rem;
    min-width: 20rem;
    height: max-content;
    margin-top: 2rem;
    display: grid;
    flex-direction: column;
    row-gap: 2rem; 
}

.container-interests{
    max-width: auto;
    min-width: 20rem;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;

}

.div-tag-interests{
    width: max-content;
    font-size: var(--step--2);
    font-weight: 600;
    border: solid 1px black;
    border-radius: 0.4rem;
    background-color: white;
    padding: 1rem;
}

/*----------------------------------------- */
/*-----------       Image        ---------- */
/*----------------------------------------- */
.img-section-aboutme{  
    display: flex;  
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%) contrast(130%); 
}






















































/*----------------------------------------- */
/*----------- Section Portfolio  ---------- */
/*----------------------------------------- */
#portfolio{
    background-color: #ffffff;
    height: max-content;
    padding-bottom: 5rem;
    transition: background-color 0.5s ease-out;
}

/*----------------------------------------- */
/*-----------       Frame        ---------- */
/*----------------------------------------- */

.frame-structure-portfolio{ 
    min-width: 20rem;
    display: grid;
    grid-template-rows: max-content auto;
    row-gap: 1rem;
}

.title-portfolio{
    padding-bottom: 3rem;
    padding-top: 5rem;
}


.container-ship-portfolio{
width: 100%;
height: max-content;
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 8rem;
justify-content: space-between;
padding-bottom: 10rem;
}


/*----------------------------------------- */
/*-----       Navs and Buttons       ------ */
/*----------------------------------------- */


.container-explorer-nav{
width: max-content;
height: 100%;
display: flex;
flex-direction: column;
margin-top: 5rem;

}

.title-explore{
    color: #000000;
    font-size: var(--step-2);
}

.nav-bar-portfolio {
margin-top: 5rem;

align-self: center;
width: 13rem;
height: 13rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: start;
direction: rtl;
overflow-y: scroll;
}

.btn-nav-portfolio{
    width: 100%;
    min-height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border: 0.02rem solid transparent;
    font-size: var(--step--1);
    font-weight: 600;
    color: #000000;
    cursor: pointer;
}

.btn-nav-portfolio:hover{
    background-color: #fcfcfc;
}

.border-btn-portfolio{
    border-bottom: 0.02rem solid rgb(231, 231, 231);
}

/*----------------------------------------- */
/*-----      Containers Generados     ----- */
/*----------------------------------------- */


.new-container-cards{ 
    width: clamp(25rem, 50vw, 70rem);
    height: 62rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem , 1fr));
    grid-auto-flow: row;

    gap: 1rem;
    padding-right:2rem;
    align-self: end;

    
    align-items: center;


    overflow-y: auto;

}


#mi-contenedor {
    scrollbar-width: thin; /* establece el ancho de la barra de desplazamiento */
    scrollbar-color: #444 #eee; /* establece el color del thumb y la barra de seguimiento */
}

#mi-contenedor::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 100%;
}

#mi-contenedor::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}



/*----------------------------------------- */
/*-----   Cards - aboute.js [loop]   ------ */
/*----------------------------------------- */
.empty-card{
    max-width:  auto;
    max-height: auto;
    justify-content: center;
    align-items: center;
}

.img-empty-card{
    max-width: 90%;
    min-height: 80%;
    object-fit: cover;
}

.card-content{
    width: auto;
    height: 30rem;
    flex-direction: column;
    row-gap: 1rem;
    border: solid 0.01px rgb(234, 234, 234);
    cursor:pointer;
    position: relative;

}

.img-card-content{
    max-width:100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.box-content-card{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    justify-content: center;
}

.box-text-card-c{
    width: 100%;
    height: max-content;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.title-card-content{
    width: max-content;
    height: max-content;
    color: #ffffff;
    font-size: var(--step-0);
    word-break: none;
}

.icon-level-content{
    width: auto;
    height: max-content;
    font-size: var(--step-0);
    background-color: #707070;
    padding: 0.5rem;
    border-radius: 100%;
}

.box-stack-card{
    display: flex;
    column-gap: 0.5rem;
    padding-left: 1rem;

}

.stack-card-content{
    width: max-content;
    font-size: var(--step--2);
    font-weight: 800;
    padding: 0.5rem;
    color: #a5a5a5;

    display: flex;
    flex-direction: row;
    border: solid 0.1px rgb(134, 134, 134);
    border-radius: 0.2rem;
}




/*----------------------------------------- */
/*-----         MEDIA QUERIE       -------- */
/*----------------------------------------- */
@media (max-width: 720px) {

.container-expore-themes{
        height: max-content;
        display: flex;
        flex-direction: column;
}

.title-explore{
    align-self: start;
}


.box-btns-nav-explore{
        width: 100%;
        height: 4rem;
        display: flex;
        column-gap: 2rem;   
}

.container-cards{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    grid-auto-flow: column;
    grid-template-rows:1fr;
    overflow-x: auto;
}


.card{
        width: 28rem;
        height: max-content;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 1.5rem;
        border: solid 0.5px rgb(197, 197, 197);
        border-radius: 0.9rem;
        background-color: rgb(255, 255, 255);
        cursor:pointer;
}


} 







/*----------------------------------------- */
/*----  Records   / certificates   ------- */
/*----------------------------------------- */

#bg-wallPortfolio{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 30;
    justify-content: end;
    display: flex;
}

/*-------------------------------- */
/*----   Nav Bar Vertical      --- */
/*-------------------------------- */
.container-portfolio{
    width: clamp(25rem, 80%, 45rem);
    height: 100vh;
    background-color: whitesmoke;
    overflow: auto;
    animation: slideInFromRight 0.5s ease-in-out;
    position: relative;
}


/*-----------------*/
/*-----------------*/   
.header-portfolio{
    width: 100%;
    height: max-content;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: sticky;
    top: 0;
}




/*-----------------*/
/*-----------------*/
.box-img-portfolio{

    width: 100%;
    height: 100%;    
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
}

.img-portfolio{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: left;
}

.box-nav-header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: whitesmoke;
    border-bottom: 0.2rem solid rgb(234, 234, 234);
}

.box-btns-nav-header{
    width: max-content;
    height: 100%;
    display: flex;
}



.box-icon-repo{
    width: 6rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid 0.02rem rgb(219, 219, 219);
    border-right: solid 0.02rem rgb(219, 219, 219);
}

.icongithub-portfolio{
    font-size: var(--step-1);
    color: #000000;
}





.box-icon-web{
    width: 6rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 0.02rem rgb(219, 219, 219);
}

.fa-arrow-up-right-from-square{
    font-size: var(--step-1);
    color: #000000;
}





/*-----------------*/
/*-----------------*/
.data-project{
    width: 100%;
    height: max-content;
    display: flex;
    column-gap: 2rem;


    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
    row-gap: 0.5rem;
}

.title-project{
    font-size: var(--step-1);
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;

}




/*-----------------*/
/*-----------------*/
.box-date{
    width: 100%;
    height: 2rem;
    display: flex;
    column-gap: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: start;
}

.fa-calendar{
    font-size: var(--step--2);
    color: #6c6c6c;
}

.date-project{
    font-size: var(--step--2);
    color: #6c6c6c;
    font-weight: 600;
}





/*-----------------*/
/*-----------------*/
.body-project{
    width: 100%;
    height: max-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.text-body-project{
    font-size: var(--step--1);
    color: #000000;
    font-weight: 400;
}



/*-----------------*/
/*-----------------*/
.project-box{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 0.5rem;
}

.title-area{
    font-size: var(--step-1);
    width: max-content;
    height: 5rem;
    display: flex;
    align-items: center;
}

.container-tags{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag{
    width: max-content;
    font-size: var(--step--2);
    font-weight: 600;
    border: solid 1px black;
    border-radius: 0.4rem;
    background-color: white;
    padding: 0.6rem;
}











































/*----------------------------------------- */
/*----------- Section Education  ---------- */
/*----------------------------------------- */

#education{
    background-color: rgb(241, 241, 241);
    height: max-content;
    transition: background-color 0.5s ease-out;
}

.frame-structure-education{
    height: max-content;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(50rem,1fr));
    column-gap: 3rem;
    justify-content: center;
}

.my-formation{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.title-education{
    padding-top: 5rem;
}

.text-my-formation{
    width: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;  
}

.container-certified{
    width: auto;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
}

.title-certified{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


/*----------------------------------------- */
/*-----   Container card certified   ------ */
/*----------------------------------------- */
.container-certificate-cards{
    max-width: 60rem;
    height: max-content;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
      
    grid-auto-flow: column;
    overflow-x: auto;
    align-items: start;
    justify-content: start;
    padding-bottom: 3rem;

}

.card-education{
    width: 28rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    border: solid 0.5px rgb(197, 197, 197);
    border-radius: 1rem;
    background-color: white;

}

.img-card-ed{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1rem 1rem 0rem 0rem;
}

.title-card-ceert{
    width: auto;
    height: 3rem;
    white-space:wrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.box-level-certicate-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    padding: 1rem;

}




/*----------------------------------------- */
/*---         btn Download             ---- */
/*----------------------------------------- */
.box-btn-download-cert-ed{
    width: max-content;
    height: auto;
    display: flex;
    justify-content: center;
}

.box-btn-download-cert-ed a>span{
    padding: 1rem;
    border-radius: 0.6rem;
    width: auto;
    background-color: #000000;
    color: rgb(255, 255, 255);
    align-self: center;
    cursor: pointer;
}

.fa-arrow-right{

    margin-left: 1rem;

}


/*----------------------------------------- */
/*---      Trigger Open Nav Record     ---- */
/*----------------------------------------- */

.container-open-records{
    width: 100%; 
    border: solid white 3px;
}


/*----------------------------------------- */
/*-- Trigger Open Nav Record & Tools   ---- */
/*----------------------------------------- */

.container-tools{
    display: flex;
    height: 10rem;
    flex-direction: row;
    align-items: center;
    column-gap: 3rem;
    width: 100%; 

}

.btn-record{
    width: max-content;
    height: max-content;
    font-size: var(--step--2);
    font-weight: 700;
    border: solid 1px black;
    border-radius: 0.4rem;
    background-color: white;
    padding: 1rem;
    align-items: center;
    cursor: pointer;
}

.btn-tools{
    width: max-content;
    height: max-content;
    font-size: var(--step--2);
    font-weight: 700;
    border: solid 1px black;
    border-radius: 0.4rem;
    background-color: white;
    padding: 1rem;
    align-items: center;
    cursor: pointer;
}


/*----------------------------------------- */
/*---         Galleria de Imagenes     ---- */
/*----------------------------------------- */

.gallery-image{
    display: flex;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    align-self: center;
    padding: 4% 2%;
}

.box-gallery{
    flex: 1;
    overflow: hidden;
    margin: 8px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.20);
    line-height: 0;
    transition: all 600ms;  
}

.img-gallery{
    width: 200%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms;
    filter:linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0)) 100%;
}

.box-gallery:hover{
    flex: 50%;
}

.box-gallery:hover > .img-gallery{
    width: 100%;
    height: 100%;
}

.container-text-gallery{
    background-color: #393939;
    position: relative;
    bottom: 200px;
    left: -0px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.text-gallery{
    position: relative;
    left: 155px;
    color: white;
    white-space: nowrap;
}


/*----------------------------------------- */
/*---       MEDIA QUERIE EDUCATION     ---- */
/*----------------------------------------- */

@media (max-width: 720px) {


    .frame-structure-education{
        height: max-content;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
        column-gap: 3rem;
        justify-content: center;
    }

    .container-certificate-cards{
        width: 100%;
        height: max-content;
        display: grid;
        column-gap: 2rem;
        grid-auto-flow: column;
        grid-template-rows:1fr;
        overflow-x: auto;
    }



    .card-education{
        width: 28rem;
        height: max-content;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 1.5rem;
        border: solid 0.5px rgb(197, 197, 197);
        border-radius: 0.9rem;
        background-color: white;
        cursor:pointer;
    }


}































/*----------------------------------------- */
/*----  Records   / certificates   ------- */
/*----------------------------------------- */

#bg-wall-certificate{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 30;
    justify-content: end;
    display: none;
}

/*-------------------------------- */
/*----   Nav Bar Vertical      --- */
/*-------------------------------- */
.container-certificate{
    width: clamp(25rem, 80%, 35rem);
    height: 100vh;
    background-color: whitesmoke;
    overflow: auto;
    animation: slideInFromRight 0.5s ease-in-out;

}



/*Cabecera*/        

.header-cert{
    width: 100%;
    height: max-content;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
}

.bx-img-cert{
    background-color: #F1F1F1;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-cert{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1rem 1rem 1rem 1rem;
}




/*Nav Certificados sticky*/

.nav-cert{
    display: flex;
    flex-direction: column;
    position: sticky;
    top:0;
    z-index: 30;
}




/*Titulo Certificados*/
.container-title-cert{
    width: 100%;
    height: 7rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1F1F1;
    border-bottom: solid 0.1px #e2e2e2;
}

.h3title-cert{
    font-size: var(--step-1);
    color: black;
    font-weight: 700;
}

.fa-sliders{
    color: rgb(0, 0, 0);
    font-size: var(--step-0);
    cursor: pointer;
}


/*Overflow auto de institutos*/
.institutes-cert{
    width: 100%;
    height: max-content;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    column-gap: 1rem;
    align-items: center;
    background-color: #F1F1F1;
    border-bottom: solid 0.1px #e2e2e2;
    overflow: auto;
}

.div-institute{
    width: max-content;
    height: max-content;
    border: solid 1px rgb(210, 210, 210);
    border-radius: 0.4rem;
    background-color: white;
    padding: 1rem;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}

.logo-institute{
    max-width: 2rem;
    height: auto;
    border-radius: 100%;
}

.div-institute>p{
    font-size: var(--step--2);
    font-weight: 700;
    color:rgb(0, 0, 0);
}


/*Lista de certificados*/

.list-certificard{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.card-certificates{
    width: 100%;
    min-height: 25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;


    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    background-color: #e2e2e2;

}


.header-certif{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.info-institute{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    position: relative;
}

.logo-card-institute{
    max-width: 3rem;
    height: auto;
}

.name-card-institute{
    font-size: var(--step-0);
    color: black;
    font-weight: 700;
}

.detail{
    font-size: var(--step--2);
    background-color: #282828;
    color: white;
    padding: 0.6rem;
    position: absolute;
    right: 0;
    z-index: 20;
    border-radius: 0.6rem;
}



/*Area Imagen*/
.image-certificate-card{
    max-width: 100%;
    height: 15rem;
    object-fit: cover;
    filter: brightness(100%);
    border-radius: 0.8rem;
}




/*Datos Curso*/

.wrap-hcertif{
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;

}

.text-course{
    display: flex;
    flex-direction: column;
}

.h3-text-course{
    font-size: var(--step--1);
    color: black;
    font-weight: 700;
}

.p-area-course{
    font-size: var(--step--2);
    color: rgb(87, 87, 87);
    font-weight: 700;
}

.btn-dwnload{
    width: max-content;
    height: max-content;
}

.btn-dwnload>span{
    padding: clamp(0.2rem, 0.5vw, 0.8rem);
    background-color: #000000;
    color: white;
    border-radius: 0.6rem;
}



























/*----------------------------------------- */
/*-------      Card Tools           ------- */
/*----------------------------------------- */

#bg-wall-tool{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 30;
    justify-content: end;
    display:none;
}


/*-------------------------------- */
/*----   Nav Bar Vertical      --- */
/*-------------------------------- */
.container-tool{
    width: clamp(25rem, 80%, 50rem);
    height: 100vh;
    background-color: #F1F1F1;
    overflow: auto;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    animation: slideInFromRight 0.5s ease-in-out;
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%); /* Inicia desde la derecha */
    }
    100% {
      transform: translateX(0%); /* Llega hasta el borde izquierdo */
    }
}


/*-------------------------------- */
/*----    Card Strcture        --- */
/*-------------------------------- */

/*Cabecera*/
.header-tool{
    width: 100%;
    height: max-content;
    background-color: #F1F1F1;
    position: sticky;
    top:0;
    display: flex;
    flex-direction: column;
}

.bx-img-tool{
    background-color: #F1F1F1;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-tool{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1rem 1rem 1rem 1rem;
}





/*Titulo Tools*/
.container-title-tool{
    width: 100%;
    height: max-content;
    padding: 1rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    background-color: #F1F1F1;
    border-bottom: solid 0.1px #e2e2e2;
}

.h3title-tool{
    font-size: var(--step-1);
    color: black;
    font-weight: 700;
}

.ptitle-tool{
    color: rgb(111, 111, 111);
    font-weight: 600;
}



/*Estructura cuerpo*/
.container-box-skill{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

[class^="box-skill"]{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}

[class^="box-skill"]>h3{
    color: black;
    font-weight: 600;
}

[class^="box-skill"]>p{
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.tools-tech{
    width: 100%;
    height: max-content;
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.div-tools{
    width: max-content;
    height: max-content;
    font-size: var(--step--2);
    font-weight: 700;
    border: solid 1px black;
    border-radius: 0.4rem;
    background-color: white;
    padding: 1rem;
    align-items: center;
}































/*----------------------------------------- */
/*----------- Section Contact   ----------- */
/*----------------------------------------- */

#contact{
    background-color: #d8d8d8;
    width: auto;
    height: max-content;
    padding-bottom: 5rem;
    transition: background-color 0.5s ease-out;
}

.title-contact{
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.frame-structure-contact{
    display: grid;
    grid-template-rows: row;
    grid-template-rows: max-content auto;
}

.container-contact{
    height: max-content;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    row-gap: 5rem;
    column-gap: 3rem;
}

.container-form{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;    
    width: auto;
}

.form{
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-content: center;
}

.input-name{
    font-family: 'Montserrat';
    font-size: 1.4rem;
    max-width: 60rem;
    height: 4rem;
    border: solid 0.5px rgb(218, 218, 218);
    border-radius: 0.4rem;
    padding-left: 1rem;
    color:rgb(0, 0, 0);
    background-color: #f3f3f3;
}

.input-name::placeholder{
    font-family: 'Montserrat';
    color: #3f3f3f;
    font-size: 1.4rem;
    font-weight: 400;
}

.input-email{
    font-family: 'Montserrat';
    font-size: 1.4rem;
    max-width: 60rem;
    height: 4rem;
    border: solid 0.5px rgb(218, 218, 218);
    border-radius: 0.4rem;
    padding-left: 1rem;
    color:rgb(0, 0, 0);
    background-color: #f3f3f3;
}

.input-email::placeholder{
    font-family: 'Montserrat';
    color: #3f3f3f;
    font-size: 1.4rem;
    font-weight: 400;
}
   
textarea{
    font-family: 'Montserrat';
    font-size: 1.4rem;
    font-weight: 400;
    max-width: 60rem;
    min-height: 20rem;
    max-height: max-content;
    border: solid 0.5px rgb(218, 218, 218);
    border-radius: 0.4rem;
    padding-top: 1rem;
    padding-left: 1rem;
    background-color: #f3f3f3;
}

.btn-send-form{
    align-self:auto;
    width: clamp(100%, 6vw, 100%);
    align-self: start;
    max-width: 12rem;
    height: 5rem;
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    background-color: rgb(0, 0, 0);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 0.6rem;
    cursor: pointer;    
    margin-top: 2rem;
}




.extra-info{
    display: flex;
    flex-direction: column;
    height: max-content;
    row-gap: 6rem;
}

.direct-info{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    
}

[class^="data-contact"]{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding-top: 1.5rem;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    
}

.fa-square-whatsapp{
    font-size: 3.5rem;
    color: #000000;
}

.fa-square-envelope{
    font-size: 3.5rem;
    color: #000000;
}

[class^="data-contact"]i>p{
    width: var(--step-0);
    font-size: 2rem;
    font-weight: 700;
    color: #6b6b6b;
}





















/*----------------------------------------- */
/*----------- Section Footer    ----------- */
/*----------------------------------------- */

footer{
    width: 100%;
    height: 6rem;
    color: rgb(197, 197, 197);
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-size: 1.4rem;
    font-weight: 600;
}

footer>div{
    align-items: center;
}


