* {
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;    
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}



/*Light Mode*/
:root{

    /*General Fonts*/
    --color-font-h1:#000000;
    --color-font-h2:#242424;
    --color-font-h3:#474747;
    --color-font-p:#393939;

}   


/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,35,1.25,5,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--3: clamp(0.65rem, calc(0.49rem + 0.82vw), 1.12rem);
    --step--2: clamp(0.78rem, calc(0.57rem + 1.08vw), 1.40rem);
    --step--1: clamp(0.94rem, calc(0.65rem + 1.41vw), 1.75rem);
    --step-0: clamp(1.13rem, calc(0.76rem + 1.85vw), 2.19rem);
    --step-1: clamp(1.35rem, calc(0.87rem + 2.41vw), 2.73rem);
    --step-2: clamp(1.62rem, calc(0.99rem + 3.13vw), 3.42rem);
    --step-3: clamp(1.94rem, calc(1.13rem + 4.05vw), 4.27rem);
    --step-4: clamp(2.33rem, calc(1.29rem + 5.23vw), 5.34rem);
    --step-5: clamp(2.80rem, calc(1.45rem + 6.74vw), 6.68rem);
  }


body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

section{
    min-width: 20rem;
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}


h1{
    color: var(--color-font-h1);
    font-size: var(--step-5);
    font-weight: 800;
}

h2{
    color: var(--color-font-h2);
    font-size: var(--step-3);
    font-weight: 800;
}

h3{ color: var(--color-font-h3);
    font-size: var(--step-0);
    font-weight: 800;
}

p{ color: var(--color-font-p);
    font-size: var(--step--1);
    font-weight: 500;
}

a{
    color:#000000;
    text-decoration: none;
}























/*----------------------------------------- */
/*----------  Frames structures   --------- */
/*----------------------------------------- */

.frame{
    grid-column: 2 / 12;

}

.frame-1-13{
    display:grid;
    grid-column:  2 / 13;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    grid-auto-flow: row;
    column-gap: 1.5rem;

}























/*----------------------------------------- */
/*------     Nav Horizontal.Js     -------- */
/*----------------------------------------- */
#nav-horizontal{
    width: 100%;
    height: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    
    display: flex;     
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 0.5px rgb(196, 196, 196);
    position: sticky;
    top: 0;
    z-index: 9;

    transition: background-color 0.5s ease-out;
}

.container-logo-btn-icon-menu{
    display: flex;
    width: max-content;
    align-items: center;
    column-gap: 2rem;
}

.container-logo-btn-icon-menu >.fa-bars{
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
}

.logo-portfolio{
    display: flex;
    height: 3rem;
    width: auto;
}

.box-btns-menu-horizontal{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ul-menu-horizontal{
    width: auto;
    height: max-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.li-menu-horizontal{
    width: max-content;
    height: max-content;
    display: flex;
    border-left: solid 0.5px rgb(231, 231, 231);
}

.li-menu-horizontal:last-child{

    border-right: solid 0.5px rgb(231, 231, 231);
}

.li-menu-horizontal:hover{
    background-color: rgb(231, 231, 231);
}

.a-menu-horizontal{
    min-width: 12rem;
    height: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;


    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: var(--step--0);
    font-weight: 700;
    color: #616161;
}

.a-menu-horizontal:hover{
    color: black;
}


@media (max-width: 800px){
    .ul-menu-horizontal{
        display: none;
    }

    .container-logo-btn-icon-menu >.fa-bars{
        display: flex;
        font-size: 2.5rem;
        cursor: pointer;
    }

}









/*----------------------------------------- */
/*-------      nav vertical.js      ------- */
/*----------------------------------------- */

.bg-wall{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 20;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

.nav-vertical{
    width: 70%;
    height: 100vh;
    display: flex;
    background-color: white;
    flex-direction: column;
    animation: slideInFromLeft 0.5s ease-out;
}

.container-logo-nav-vertical{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 0.5px rgb(196, 196, 196);
}

.logo-portfolio{
    height: 3rem;
    width: auto;
}

.img-nav-vertical{
    max-width: 100%;
    height: 60vh;
    object-fit: cover;
}

.ul-menu-vertical{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.li-menu-vertical{
    width: 100%;
    height: max-content;
    display: flex;
    border-top: solid 0.5px rgb(231, 231, 231);
}

.li-menu-vertical:last-child{

    border-bottom: solid 0.5px rgb(231, 231, 231);
}

.li-menu-vertical:hover{
    background-color: rgb(231, 231, 231);
}

.a-menu-vertical{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: var(--step--0);
    font-weight: 700;
    color: #616161;
}

.a-menu-vertical:hover{
    color: black;
}













/*----------------------------------------- */
/*-------   Triggers of display     ------- */
/*----------------------------------------- */

.open-all{
    display: flex;
}

.close-all{
    display: none;  
}

.open-window{
    display: flex;
}
































































/*----------------------------------------- */
/*-------    Section Aboutme.js    -------- */
/*----------------------------------------- */
#about-me{
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: max-content;
    transition: background-color 0.5s ease-out;
}

/*----------------------------------------- */
/*-----      Divs My Interest       ------- */
/*----------------------------------------- */
.who-i-am{
    width: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-self: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.paragraph{
    max-width: auto;
    min-width: 20rem;
}

.container-btns{
    width: auto;
    min-width: 20rem;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 3rem;
}

.container-btns>a{
    color: initial;
    text-decoration: none;
}

.github-aboutme{
    font-size: 5rem;
    cursor: pointer;
}

.btn-download-cv{
    width:  max-content;
    height: 5rem;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;

    background-color:rgb(255, 255, 255);
    border: solid 0.02rem rgb(0, 0, 0);
    border-radius: 0.6rem;
    cursor: pointer;
}

.btn-download-cv>p{
    width: max-content;
    font-family: 'Montserrat';
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: var(--step--2);
    padding-right: 1.5rem;
}

.btn-download-cv>span{
    padding: 1.2rem;
    color: rgb(255, 255, 255);
    border-left: solid 0.02rem rgb(255, 255, 255);
    background-color: #000000;
    border-radius: 0px 6px 6px 0px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/*----------------------------------------- */
/*-----      Divs My Interest       ------- */
/*----------------------------------------- */
.my-interests{
    max-width: 65rem;
    min-width: 20rem;
    height: max-content;
    margin-top: 2rem;
    display: grid;
    flex-direction: column;
    row-gap: 2rem; 
}

.container-interests{
    max-width: auto;
    min-width: 20rem;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;

}

.div-tag-interests{
    width: max-content;
    font-size: var(--step--2);
    font-weight: 600;
    border: solid 1px black;
    border-radius: 0.4rem;
    background-color: white;
    padding: 1rem;
}

/*----------------------------------------- */
/*-----------       Image        ---------- */
/*----------------------------------------- */
.img-section-aboutme{  
    display: flex;  
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%) contrast(130%); 
}






















































/*----------------------------------------- */
/*----------- Section Portfolio  ---------- */
/*----------------------------------------- */
#portfolio{
    background-color: #e1e3e9;
    height: max-content;
    padding-bottom: 2rem;
    transition: background-color 0.5s ease-out;
}

/*----------------------------------------- */
/*-----------       Frame        ---------- */
/*----------------------------------------- */

.frame-structure-portfolio{ 
    min-width: 20rem;
    display: grid;
    grid-template-rows: max-content auto;
    row-gap: 1rem;
}

.title-portfolio{
    padding-bottom: 3rem;
    padding-top: 5rem;
}








.container-expore-themes{
    width: 100%;
    height: 5rem;
    display: flex;
    column-gap: 2rem;
    row-gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.title-explore{
    width: max-content;
    color: #000000;
}

.box-btns-nav-explore{
    width: max-content;
    height: max-content;
    display: flex;
    column-gap: 2rem;
    justify-self: end;

}

.btn-div-nav-explore{
    width: max-content;
    height: auto;
    column-gap: 2rem;
    display: flex;
    align-items: center;
}

/*
.btn-div-nav-explore >:first-child::after {
    content: "";
    display: block;
    border-bottom: solid 4px rgb(36, 36, 36);
    width: 100%;
    margin: 5px auto;
}*/



.p-btn-explore{
    height: 90%;
    font-weight: 600;
}

.p-btn-explore:first-child{
    color: #000000;
    cursor: pointer;
}

.p-btn-explore:nth-child(2){
    color: #aaaaaa;  
}

.typing-dots {
    content: "";
    animation: typing 2s infinite;
    color: #282828;
}
  
@keyframes typing {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
  





.container-cards{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
    padding-bottom: 3rem;
}

/*----------------------------------------- */
/*-----   Cards - aboute.js [loop]   ------ */
/*----------------------------------------- */

.card{
    width: auto;
    height: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1.5rem;
    border: solid 0.5px rgb(197, 197, 197);
    border-radius: 0.9rem;
    background-color: white;
    cursor:pointer;
}

.img-card{
    max-width:100%;
    height: auto;
    object-fit: contain;
}

.title-card{
    width: auto;
    margin-top: 0.5rem;
    height: 5rem;
    white-space:wrap;
    overflow: hidden;
    text-overflow:ellipsis;
}


/*----------------------------------------- */
/*-----    Box level Experience    -------- */
/*----------------------------------------- */

.box-level{
    padding: 1rem;
    background-color: #F6F7FB;
    height: 6rem;
    border-radius: 0.6rem;
}

.name-level{
    color: #798490;
    font-size: var(--step--2);
    font-weight: 600;
}

.line-level{
    height: 2rem;    
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}

[class^="hr"]{
    width: 100%;
    background-color: black;
    height: 0.6rem;
    border: none;
    border-radius: 50rem;
    background-color: #E5EAF0;   
}

.line-level>hr:first-child{
    background-color: #BBA9FB;  
}


/*----------------------------------------- */
/*-----         MEDIA QUERIE       -------- */
/*----------------------------------------- */
@media (max-width: 720px) {


    .container-expore-themes{
        height: max-content;
        display: flex;
        flex-direction: column;
    }
    
   .title-explore{
    align-self: start;
   }


    .box-btns-nav-explore{
        width: 100%;
        height: 4rem;
        display: flex;
        column-gap: 2rem;   
    }




    .container-cards{
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
        grid-auto-flow: column;
        grid-template-rows:1fr;
        overflow-x: auto;
     
    }



    .card{
        width: 28rem;
        height: max-content;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 1.5rem;
        border: solid 0.5px rgb(197, 197, 197);
        border-radius: 0.9rem;
        background-color: white;
        cursor:pointer;
    }


}

















































/*----------------------------------------- */
/*----------- Section Education  ---------- */
/*----------------------------------------- */

#education{
    background-color: rgb(241, 241, 241);
    height: max-content;
    transition: background-color 0.5s ease-out;

}

.frame-structure-education{
    height: max-content;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(50rem,1fr));
    column-gap: 3rem;
    justify-content: center;
}

.my-formation{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.title-education{
    padding-top: 5rem;
}

.text-my-formation{
    width: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;  
}

.container-certified{
    width: auto;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
}

.title-certified{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


/*----------------------------------------- */
/*-----   Container card certified   ------ */
/*----------------------------------------- */
.container-certificate-cards{
    max-width: 60rem;
    height: max-content;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
      
    grid-auto-flow: column;
    overflow-x: auto;
    align-items: start;
    justify-content: start;
    padding-bottom: 3rem;

}

.card-education{
    width: 28rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    border: solid 0.5px rgb(197, 197, 197);
    border-radius: 1rem;
    background-color: white;

}

.img-card-ed{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1rem 1rem 0rem 0rem;
}

.title-card-ceert{
    width: auto;
    height: 3rem;
    white-space:wrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.box-level-certicate-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    padding: 1rem;

}




/*----------------------------------------- */
/*---         btn Download             ---- */
/*----------------------------------------- */
.box-btn-download-cert-ed{
    width: max-content;
    height: auto;
    display: flex;
    justify-content: center;
}

.box-btn-download-cert-ed a>span{
    padding: 1rem;
    border-radius: 0.6rem;
    width: auto;
    background-color: #000000;
    color: rgb(255, 255, 255);
    align-self: center;
    cursor: pointer;
}

.fa-arrow-right{

    margin-left: 1rem;

}


/*----------------------------------------- */
/*---      Trigger Open Nav Record     ---- */
/*----------------------------------------- */

.container-open-records{
    width: 100%; 
    border: solid white 3px;
}



/*----------------------------------------- */
/*-- Trigger Open Nav Record & Tools   ---- */
/*----------------------------------------- */

.container-tools{
    display: flex;
    height: 10rem;
    flex-direction: row;
    align-items: center;
    column-gap: 3rem;
    width: 100%; 

}


.btn-record{

    width: max-content;
    height: max-content;
    font-size: var(--step--2);
    font-weight: 700;
    border: solid 1px black;
    border-radius: 0.4rem;
    background-color: white;
    padding: 1rem;
    align-items: center;
    cursor: pointer;
}

.btn-tools{
    width: max-content;
    height: max-content;
    font-size: var(--step--2);
    font-weight: 700;
    border: solid 1px black;
    border-radius: 0.4rem;
    background-color: white;
    padding: 1rem;
    align-items: center;
    cursor: pointer;
}



/*----------------------------------------- */
/*---         Galleria de Imagenes     ---- */
/*----------------------------------------- */

.gallery-image{
    display: flex;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    align-self: center;
    padding: 4% 2%;
}

.box-gallery{
    flex: 1;
    overflow: hidden;
    margin: 8px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.20);
    line-height: 0;
    transition: all 600ms;  
}

.img-gallery{
    width: 200%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms;
    filter:linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0)) 100%;
}

.box-gallery:hover{
    flex: 50%;
}

.box-gallery:hover > .img-gallery{
    width: 100%;
    height: 100%;
}

.container-text-gallery{
    background-color: #393939;
    position: relative;
    bottom: 200px;
    left: -0px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.text-gallery{
    position: relative;
    left: 155px;
    color: white;
    white-space: nowrap;
}







/*----------------------------------------- */
/*---       MEDIA QUERIE EDUCATION     ---- */
/*----------------------------------------- */



@media (max-width: 720px) {


    .frame-structure-education{
        height: max-content;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
        column-gap: 3rem;
        justify-content: center;
    }

    .container-certificate-cards{
        width: 100%;
        height: max-content;
        display: grid;
        column-gap: 2rem;
        grid-auto-flow: column;
        grid-template-rows:1fr;
        overflow-x: auto;
    }



    .card-education{
        width: 28rem;
        height: max-content;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 1.5rem;
        border: solid 0.5px rgb(197, 197, 197);
        border-radius: 0.9rem;
        background-color: white;
        cursor:pointer;
    }


}































/*----------------------------------------- */
/*-------         Records           ------- */
/*----------------------------------------- */

#bg-wall-record{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 30;
    justify-content: end;
}

/*-------------------------------- */
/*----   Nav Bar Vertical      --- */
/*-------------------------------- */
.container-record{
    width: clamp(25rem, 80%, 50rem);
    height: 100vh;
    background-color: whitesmoke;
    overflow: auto;
}


/*-------------------------------- */
/*----    Area Certificados    --- */
/*-------------------------------- */
.header-certif{
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    padding-left: 2rem;

    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 0.1rem solid gainsboro;
}

.title-certif{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    position: sticky;
    top:0;

}

/*-------------------------------- */
/*- Contenedor de lista Certific - */
/*-------------------------------- */
.certificate-list{
    width: auto;
    height: max-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
}


/*-------------------------------- */
/*----   Card List Record      --- */
/*-------------------------------- */
.card-structure-cert{
    width: 100%;
    min-height: max-content;
    max-height: max-content;
    
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    border: solid 0.2px transparent;
}

.card-structure-cert:hover {
    border: solid 0.2px rgb(193, 193, 193);
}


.clase-par-record{
    background-color: #E2E2E2;
    color: rgb(45, 45, 45);
}

.clase-impar-record{
    background-color: #EFEFF1;
    color: rgb(45, 45, 45);
}



/*-------------------------------- */
/*----   Imagen Circular       --- */
/*-------------------------------- */
.box-image{
    display: flex;
    flex-direction: column;

    max-width: 5rem;
    min-width: 6rem;
    height: 100%;
    
    padding: 1rem;

    align-items: center;
    justify-content: start;
}

.box-image>img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


/*-------------------------------- */
/*----     Tecto Records       --- */
/*-------------------------------- */
.box-text{
    min-width: 5rem;
    width: 35rem;

    min-height: 8rem;
    height: max-content;
    
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    
    padding-right: 1.5rem;
    
}

.title-card-course{    
    font-size: var(--step--1);
    font-weight: 600;  
}

.p-tech{
    font-size: var(--step--2);
    font-weight: 500;
    color: #656565;
}


/*-------------------------------- */
/*--  Btn Download Certificado  -- */
/*-------------------------------- */
.box-btn-download-cert{
    width: max-content;
    height: auto;
    padding: 1rem;

    display: flex;
    justify-content: center;
}

.box-btn-download-cert a>span{
    padding: 0.8rem;
    border-radius: 0.5rem;
    width: auto;
    background-color: #000000;
    color: rgb(255, 255, 255);
    align-self: center;
    cursor: pointer;
}
















/*----------------------------------------- */
/*-------      Card Tools           ------- */
/*----------------------------------------- */

#bg-wall-tool{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 30;
    justify-content: end;
}

/*-------------------------------- */
/*----   Nav Bar Vertical      --- */
/*-------------------------------- */
.container-tool{
    width: clamp(25rem, 80%, 50rem);
    height: 100vh;
    background-color: rgb(241, 241, 241);
    overflow: auto;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/*-------------------------------- */
/*----    Card Strcture        --- */
/*-------------------------------- */
.card-header-tool{
    width: 100%;
    height: max-content;
    position: sticky;
    top:0;
    background-color:  rgb(241, 241, 241);
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
   
}

.image-card-header{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1rem 1rem 1rem 1rem;

}


.container-title-card-tool{
    width: 100%;
    height: max-content;
    padding-top: 1rem;
   
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: rgb(241, 241, 241);
    position: sticky;
    top:0;

}

.container-title-card-tool>h3{
    color: black;
    font-weight: 700;
}

.box-area-tool{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}




.fa-folder{
    font-size: var(--step--1);
    color: #575757;
}

.box-area-tool>p{
    color:#575757;
    font-weight: 600;
}


.body-tools{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
}







.container-text-tools{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.body-tools>p{
    font-family: "Montserrat";
    font-weight: 400;
    color: rgb(0, 0, 0);
}


.tools-dev{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.div-tools{
    width: max-content;
    height: max-content;
    font-size: var(--step--2);
    font-weight: 700;
    border: solid 1px black;
    border-radius: 0.4rem;
    background-color: white;
    padding: 1rem;
    align-items: center;
}































/*----------------------------------------- */
/*----------- Section Contact   ----------- */
/*----------------------------------------- */

#contact{
    background-color: #d8d8d8;
    width: auto;
    height: max-content;
    padding-bottom: 5rem;
    transition: background-color 0.5s ease-out;
}

.title-contact{
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.frame-structure-contact{
    display: grid;
    grid-template-rows: row;
    grid-template-rows: max-content auto;
}

.container-contact{
    height: max-content;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    row-gap: 5rem;
    column-gap: 3rem;
}

.container-form{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;    
    width: auto;
}

.form{
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-content: center;
}

.input-name{
    font-family: 'Montserrat';
    font-size: 1.4rem;
    max-width: 60rem;
    height: 4rem;
    border: solid 0.5px rgb(218, 218, 218);
    border-radius: 0.4rem;
    padding-left: 1rem;
    color:rgb(0, 0, 0);
    background-color: #f3f3f3;
}

.input-name::placeholder{
    font-family: 'Montserrat';
    color: #3f3f3f;
    font-size: 1.4rem;
    font-weight: 400;
}

.input-email{
    font-family: 'Montserrat';
    font-size: 1.4rem;
    max-width: 60rem;
    height: 4rem;
    border: solid 0.5px rgb(218, 218, 218);
    border-radius: 0.4rem;
    padding-left: 1rem;
    color:rgb(0, 0, 0);
    background-color: #f3f3f3;
}

.input-email::placeholder{
    font-family: 'Montserrat';
    color: #3f3f3f;
    font-size: 1.4rem;
    font-weight: 400;
}
   
textarea{
    font-family: 'Montserrat';
    font-size: 1.4rem;
    font-weight: 400;
    max-width: 60rem;
    min-height: 20rem;
    max-height: max-content;
    border: solid 0.5px rgb(218, 218, 218);
    border-radius: 0.4rem;
    padding-top: 1rem;
    padding-left: 1rem;
    background-color: #f3f3f3;
}

.btn-send-form{
    align-self:auto;
    width: clamp(100%, 6vw, 100%);
    align-self: start;
    max-width: 12rem;
    height: 5rem;
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    background-color: rgb(0, 0, 0);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 0.6rem;
    cursor: pointer;    
    margin-top: 2rem;
}




.extra-info{
    display: flex;
    flex-direction: column;
    height: max-content;
    row-gap: 6rem;
}

.direct-info{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    
}

[class^="data-contact"]{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding-top: 1.5rem;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    
}

.fa-square-whatsapp{
    font-size: 3.5rem;
    color: #000000;
}

.fa-square-envelope{
    font-size: 3.5rem;
    color: #000000;
}

[class^="data-contact"]i>p{
    width: var(--step-0);
    font-size: 2rem;
    font-weight: 700;
    color: #6b6b6b;
}





















/*----------------------------------------- */
/*----------- Section Footer    ----------- */
/*----------------------------------------- */

footer{
    width: 100%;
    height: 6rem;
    color: rgb(197, 197, 197);
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-size: 1.4rem;
    font-weight: 600;
}

footer>div{
    align-items: center;
}


